@tailwind base;
@tailwind components;
@tailwind utilities;

.break-words {
  word-break: break-word;
}

body {
  font-family: 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}

@keyframes flash {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}
.flashing {
  animation: flash 1s infinite;
}

